body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav:not(.tasks-nav) {
  border-bottom: 1px solid #363636;
  z-index: 100;
}

.tasks-nav .navbar-link:not(.is-arrowless)::after {
  border-color: white;
}

img.logo {
  padding-right: 5px;
}

header.card-header {
  background-color: #00d1b2;
}

.card {
  overflow: hidden;
}

.card-large {
min-height: 460px;
-webkit-backface-visibility: hidden;
backface-visibility: initial;
border-radius: 5px;
}

input {
  min-width: 50%;
  width: 50%;
}

div.category-display.category {
  display: flex;
  justify-content: space-between;
  padding: 1.5%;
}

p.category-name {
  display: flex;
}

.delete.delete-category {
  background-color: #ff3760;
  display: flex;
}

.group-title.title {
  display: block;
}

.fas.fa-users {
  display: block;
}

div.card-footer, footer.card-footer {
  border-top: 0px solid white;
}

button.is-fullwidth {
  margin: 0 3%;
}

.done-tick {
  color: #18b086;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 4em;
    margin: -50px;
    position: absolute;
}

.card-header-title.is-centered.is-size-3:not(.edit){
  background-image: url(./assets/group-image-colour.jpg);
  background-size: cover;
  margin: -20px;
  border-radius: 5px 5px 0 0;
  height: 150px;
  color: white;
  // text-shadow: 1px 1px 1px rgba(0,0,0,1);
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
